<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Dear <%= @user.first_name %>,</h1>
    <p>
      This notification email was sent using SMTP.
    </p>
  </body>
</html>
