<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Hello <%= @user.first_name %>,</h3>
    <p>
      You've just received a new request for one of your listings!
    </p>
    <p>
      Please sign in to your account to view details.
    </p>
    <p>
      Sincerely,
    </p>
    <p>
      YourSpace Team
    </p>
  </body>
</html>
