#search-box {
    position: relative;
    margin: auto;
    margin-top: 80px;

    width: 600px;
    height: 300px;
    /*padding: 20px;*/
    border: 3px solid white;
    border-radius: 15px 45px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#opaque-background {
  background-color: rgb(67, 69, 70);
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 300px;
  border-radius: 15px 45px;

}

#price-range {
    margin: 10px;
    align-content: center;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}
