// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar_ven {
  width: 80%;
  margin: auto;
  display: table;
}

#price-range {
    margin: 10px;
    align-content: center;
}
.ui-slider-horizontal {
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}

#search-results {
  overflow: hidden;
  position: relative;
}

#venue-results {
  float: left;
  width: 30%;
  clear: both;

}

#venue-show {
  padding-left: 20px
}

#venue-info {
  float:left;
  width:400px;
}

#venue-availability {
  float:right;
  width:700px;
}

#photo-container {
 overflow: hidden;
 margin: 50px auto;
 background: white;
   max-width:100%;
}
.photobanner {
	height: 233px;
	width: 1500px;
	margin-bottom: 50px;

}

.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
